/* Navbar */
.navbar-brand {
    font-family: viga;
    font-size: 32px;
    color: #ffffff;
}


.hero-container {
    display: flex;
    height: 640px;
    padding: 0 10%;
    text-align: left;
}

.hero-container > div {
    width: 50%;
    align-self: center;
}

.hero-container > img {
    width: 50%;
    height: 323px;
    align-self: center;
    object-fit: cover;
    
}

/* akhir navbar */

/* stats */

.container-stats{
    text-align: center;
}

.stats{
    width: 80%;
    height: 250px;
    margin: -20px auto;
}

.stats-heading{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #333;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.line01{
    width: 100px;
    height: 8px;
    background: #333;
}
.line02{
    width: 100px;
    height: 3px;
    background: #333;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.grid i{
    padding-bottom: 20px;
}

.grid h3{
    padding-bottom: 10px;
}

/* akhir stats */

/* galery */

.galery{
    background: #edf9fe; 
}

.container-galery{
    width: 80%;
    height: 400px;
    margin: auto;
}

.galery-heading{
    text-align: center;
    margin-bottom: 10px;
}
.galery-heading h1{
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    padding-top: 20px;

}
.galery-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
}
.img-secondary{
    border: 1px solid white;
    width: 200px;
    height: 150px;
}
.img-top{
    border: 1px solid white;
    width: 400px;
    height: 250px;
}
.line-galery{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.line03{
    width: 100px;
    height: 8px;
    background: rgb(255, 255, 255);
}
.line04{
    width: 100px;
    height: 3px;
    background: rgb(255, 255, 255);
}

.inform1{
    text-align: left;
    margin-top: 80px;
}

.inform2{
    text-align: center;
}

.inform3{
    text-align: right;
    margin: -40px;
}







































/* jumbotron
.jumbotron {
    background-image: url(img/bg.png);
    background-size: cover;
    height: 640px;
    display: flex;
} */

/* .jumbotron > div {
    width: 50%;
    
}

.jumbotron > img {
    width: 50%;
    height: 40px;
}

.jumbotron .display-4 {
    text-align: left;
    margin-top: 150px;
    font-weight: 600;
    font-size: 40px;
} */





/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/* testimonial */
.testimonial {
    margin-top: 180px;

}

/* DEKSTOP VERSION */
@media (min-width: 992px) { 


    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid blue;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* jumbotron
    .jumbotron {
        margin-top: -75px;
    } */

 }